<html>
    <head>
        <title>The Rasputin Impersonators</title>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body style="padding-top: 200px">

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">

                    <%= form_for(@user) do |f| %>
                      <% if @user.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                          <ul>
                          <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>

                      <div class="row">
                          <div class="col-sm-6">
                              <%= f.number_field :phone, placeholder: "Phone Number" %>
                          </div>
                          <div class="col-sm-6">
                              <%= f.text_field :password, placeholder: "Password" %>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <%= f.submit %>
                          </div>
                          <div class="col-sm-6">
                              <%= f.submit,name: "delete" %>
                          </div>
                      </div>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>
